<!DOCTYPE html>
<html lang="en">
<head th:insert="base.html :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Listado de Personas</h1>  
        <div>
            <a class="btn btn-primary w-50 m-auto" role="button" th:href="@{/alta}">Alta</a>
        </div>
        <table class="table table-stripped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Pais</th>
                    <th>Detalles</th>
                    <th>Modificar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.Nombre}"></td>
                    <td th:text="${persona.Apellidos}"></td>
                    <td th:text="${persona.Pais.Nombre}"></td>
                    <td><a th:href="@{/detalle/}+${persona.id}">Detalles</a></td>
                    <td><a th:href="@{/alta/}+${persona.id}">Alta</a></td>
                    <td><a th:href="@{/borrar/}+${persona.id}">Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>   
    <script th:replace="base :: scripts"></script>
</body>
</html>